## **Functions and Arguments**

### **1. Functions**

In [ ]:
## function syntax -
# def function_name(parameters):
# statements 
# function_name(value)


def even_odd(num):
  if (num%2==0):
    print("Number is even")
  else:
    print("Number is odd")
even_odd(25)

Number is odd

In [ ]:
# print vs return
def print_sent():
  return "Hello, Welcome to 2021"
val = print_sent()
print(val)

Hello, Welcome to 2021

In [ ]:
def add_num(num1,num2):
  return num1+num2
val = add_num(1998,1999)

In [ ]:
val

3997

### **2. Positional and Keyword Arguments**

In [ ]:
# positional and keyword arguments
def personal_info(name,age=20):
  print("My name is {} and age is {}".format(name,age))
personal_info('Devanshi')
#here name is positional argument 
#age is keyword argument

My name is Devanshi and age is 20

In [ ]:
personal_info(11)

My name is 11 and age is 20

In [ ]:
# default arguments
def print_info(name,age=20):
  print("My name is {} and age is {}".format(name,age))
personal_info('Devanshi')
personal_info('Swati',27)

My name is Devanshi and age is 20
My name is Swati and age is 27

In [ ]:
# variable length arguments
def print_numbers(arg1, *vartuple):
  print("Output is:")
  print(arg1)
  for var in vartuple:
    print("Other numbers are:")
    print(var)
print_numbers(10)
print_numbers(20,30,40)

Output is:
10
Output is:
20
Other numbers are:
30
Other numbers are:
40

In [ ]:
# positional and keyword arguments
def hello(*args,**kwargs):
  print(args)
  print(kwargs)
hello('Devanshi','Gupta', age = 20, dob = 1999)

('Devanshi', 'Gupta')
{'age': 20, 'dob': 1999}

In [ ]:
lst = ['Devanshi','Gupta']
dict_args = {'age' : 20, 'dob' : 1999}
hello(lst,dict_args)

(['Devanshi', 'Gupta'], {'age': 20, 'dob': 1999})
{}

In [ ]:
lst = [1,2,3,4,5,6]
def print_sum(lst):
  even_sum = 0
  odd_sum = 0
  for i in lst:
    if i%2==0:
      even_sum = even_sum+i
    else:
      odd_sum = odd_sum+i
  print("even sum", even_sum)
  print("odd sum", odd_sum)
print_sum(lst)

even sum 12
odd sum 9

### **3. Lambda Functions**

In [ ]:
### Lambda Function : anonymous function
even = lambda a:a%2==0
even(25)
 

# lambda inp1,inp2 : cond1

False

In [ ]:
addition = lambda a,b: a+b
addition(25,64)

89

### **4. Map Function**

In [ ]:
### Map Function
def even_odd(num):
  if(num%2==0):
    print(num, "The number is even")
  else:
    print(num, "The number is odd")
lst = [1,2,3,4,5,6,7,8,9,10]
list(map(even_odd, lst))

1 The number is odd
2 The number is even
3 The number is odd
4 The number is even
5 The number is odd
6 The number is even
7 The number is odd
8 The number is even
9 The number is odd
10 The number is even

[None, None, None, None, None, None, None, None, None, None]

### **5. Filter Function**

In [ ]:
### FILTER function
def even(num):
  if (num%2==0):
    return True
lst = [0,1,2,3,4,5,6,7,8,9]
list(filter(even,lst))

[0, 2, 4, 6, 8]

In [ ]:
list(filter(lambda num:num%2==0, lst))

[0, 2, 4, 6, 8]

### **6. List Comprehension**

In [ ]:
### List Comprehension
### provides concise way to create a list
lst1 = []
def list_square(lst):
  for i in lst:
    lst1.append(i*i)
  return lst1
list_square([1,2,3,4,5])
### here we have used for loop and other lines of code which increases time complexity

[1, 4, 9, 16, 25]

In [ ]:
### list comprehension
lst = [1,2,3,4,5]
lst1 = [i*i for i in lst]
print(lst1)

[1, 4, 9, 16, 25]

In [ ]:
lst1 = [i*i for i in lst if (i%2==0)]
print(lst1)

[4, 16]

### **7. Iterable and Iterator**

In [ ]:
#Iterable and Iterator
#List is iterable
lst = [1,2,3,4,5,6,7]
for i in lst:
  print(i)

1
2
3
4
5
6
7

In [ ]:
#iterator (we can convert a list(iterable) into iterator using keyword iter)
lst1 = iter(lst)

In [ ]:
next(lst1)

2

In [ ]:
for i in lst1:
  print(i)

3
4
5
6
7

### **8. Pass By Value**

In [ ]:
# Pass by value
def PassByValue(lst):
  lst = [1,2,3,4,5]
  print("Before Change : ",lst)
lst = [10,20,30,40,50]
PassByValue(lst)
print("after Change : ",lst)

Before Change :  [1, 2, 3, 4, 5]
after Change :  [10, 20, 30, 40, 50]

### **9. Pass By Reference**

In [ ]:
# Pass By Reference
def PassByReference(lst):
  lst[2]=30
  print("Inside Function : ",lst)
lst = [1,2,3,4,5]
print("Before Change : ",lst)
PassByReference(lst)
print("After Change : ",lst)

Before Change :  [1, 2, 3, 4, 5]
Inside Function :  [1, 2, 30, 4, 5]
After Change :  [1, 2, 30, 4, 5]

### **10. Global Variable and Local Variable**

In [ ]:
# Global Variable vs Local Variable
total = 0
t1 = 100
def add(args1, args2):
  total = args1+args2
  print("Inside Function : ",total)
  print("Gloabl Variable accesed inside function : ",t1)
add(70,90)
print("Outside Function : ",total)

Inside Function :  160
Gloabl Variable accesed inside function :  100
Outside Function :  0